- content_for :javascripts do
  :javascript
    var LAT = #{params[:lat]},
        LNG = #{params[:lng]},
        DEFAULT_CENTER = [ 400, 400 ],
        POINTS = #{@points.to_json};

  %script{src: "/javascripts/index.js", type: "text/javascript"}

#content(role="main")
  .container
    .row
      #map-canvas
    .row
      .pull-right
        .btn.btn-primary Accept
        .btn.btn-warning Edit
        .btn.btn-danger Reject
